#!/usr/bin/env python
PACKAGE = "mh_mcplanner"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name              Type      Level  Description                Default  Min   Max
gen.add("pto_lambda_risk", double_t, 0,    "Weight of PTO penalty",   2.0,   0.0,  1000.0)
gen.add("pto_sigma",       double_t, 0,    "Spread of Gaussian",      5.0,     1.0,  10.0)
gen.add("pto_decay_future",double_t, 0,    "Future path decay",       0.03,    0.001, 0.5)

exit(gen.generate(PACKAGE, "mh_planner", "MhDMCTS"))